
extends layout

block content
 div.entry.archive
  article.contents.row
   header.slot-0-1
    div
     h1 Archives
   div.slot-2-3-4-5  
    != page.html
    - var archive = _.chain(contents.articles._.directories).map(function(item) {
    -   return item.index
    - }).compact().sortBy(function(item) {
    -   return -item.date
    - }).groupBy(function(item) {
    -   return item.date.getFullYear()
    - }).value()
    - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    ul.archives
     each year in _.chain(archive).keys().reverse().value()
       - var months = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
         each articles, month in months
          h3= month
          each article in articles
           li
            h2 
             a(href=article.url)= article.title
           p= article.metadata.abstract

