if page.url != "/"
 header.entry
  a(href='/') 
   ◄ HOME
  h1
   span.m M
   span.r r
   span.fris  Frisb
   span.y y
 

if page.url == "/"
 header
  small= locals.description
  h1
   span.m M
   span.r r
   span.fris  Frisb
   span.y y
  