extends layout

block content
  include author
  //- underscore helps us filter and sort our articles
  - var articles = _.chain(contents.articles._.directories).map(function(item) {
  -   // map articles to index pages of subdirectories of 'articles'
  -   return item.index
  - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
  -   // sort them by date
  -   return -item.date
  - }).first(10).value() // and finally take the first 10
  section.contents.row
   div.slot-6-7-8.contents
    h1 Journal Entries
    ol
     each article in articles
      li
       if article._metadata.dss
       span.date= article._metadata.dss
       a(href=article.url)= article.title
    a.view_more(href='archive.html')#archive Archives
   div.slot-9.profile	
    img(src='http://mrfrisby.com/stu.png')
  section.row
   div.slot-6.instagram
   ul.slot-7-8-9.tweet 
    li
     span
     a(class='twitters', href='http://twitter.com/stuartfrisby') Join me on the twitters