!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
        = locals.name
    meta(name='viewport', content='width=device-width')
    link(rel='alternate', href=locals.url+'/syndicate.xml', type='application/rss+xml', title=locals.description)
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic')
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/entry.css')
    link(rel='stylesheet', href='/css/720_grid.css', media='screen and (min-width: 720px)')
    link(rel='stylesheet', href='/css/986_grid.css', media='screen and (min-width: 986px)')
    link(rel='shortcut icon', href='mrfrisby.com/icon.png')
  body.grid
   include header
   div#content
    block content
   include footer