!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
        = locals.name
    link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fredericka+the+Great')
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/entry.css')
    link(rel='stylesheet', href='http://goo.gl/kwdLC')
    link(rel='stylesheet', href='/css/720_grid.css', media='screen and (min-width: 720px)')
    link(rel='stylesheet', href='/css/986_grid.css', media='screen and (min-width: 986px)')
  body.grid
   include header
   div#content
    block content
   include footer